#time {

    justify-content: center;
    align-items: center;
    /* border-radius: 100%; */
    text-align: center;
    display: flex;
    background-color:#03506f;
    font-size: 2rem;
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
    
  }

  .insideCircle {
    margin: auto auto;
  }
  