.hero {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center;

}

.hero * {
  position: relative;
  
}

.hero h1 {
  font-size: 60px;
  padding-top: 200px;
  justify-content: center;
  text-align:center; 
  margin-top: 0;
}
