.hero {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center;
}

.hero * {
  position: relative;
  z-index: 3000;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
